{
  plugins: [
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-function-bind",
    "transform-async-to-generator",
  ],
  presets: ["es2015", "stage-0", "react"]
}
